body {
    padding-top: 50px;
    background-color: #111111;
    color: #eeeeee;
}

.my-projects-link:hover {
    color: white;
    font-size: 26px;
}

.my-projects-link:visited {
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.my-projects-link:active {
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.my-projects-link {
    color: white;
}

a {
    color: #111111;
}

.my-nav-menu {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: #e00122;
}

.my-name-animation {
    color: #111111;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    animation: 1s ease-out nameslide;
}

.my-name-animation > .col-sm-2 {
    margin-top: 5px;
}


.my-name-animation > .col-sm-2 > a {
    text-decoration: none;
}


.my-nav-btn {
    position: relative;
    font-size: 26px;
    background-color: #e00122;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    white-space: nowrap;
    width: 80%;
    margin: auto;
}

.my-nav-btn:hover {
    border: 2px solid black;
    border-radius: 10px;
    color: #111111;
    font-size: 28px;
    text-decoration: none;
}

.my-nav-btn:visited {
    color: #111111;
    font-size: 26px;
    text-decoration: none;
}
.my-nav-btn:active {
    color: #111111;
    font-size: 26px;
    text-decoration: none;
}

.page-text {
    animation: 1s ease-out bodyslide;
}

.page-text > h1 {
    font-size: 50px;
    text-align: center;
}

.page-text > p {
    font-size: 26px;
}

.page-text-contact {
    text-align: center;
}

.my-exp-page > .row {
    height: 350px;
    margin-top: 50px;
    animation: 1s ease-out bodyslide;
}

.my-exp-module {
    border: 2px solid #e00122;
    border-radius: 10px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
}

.my-exp-module > h1 {
    font-size: 2vw;
    color: white;
}

.my-content-icons {
    max-width: 10vw;
    max-height: 10vw;
    position: absolute;
    margin: auto;
    margin-left: 50px;
    top: 0;
    right: 800px;
    left: 0;
    bottom: 0;
    animation: 3s ease-in-out iconcontentslide;
}

.my-content-text {
    font-size: 1.6vw;
    margin: auto;
    margin-top: 3.5%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-left: 20%;
    animation: 4s ease-in-out textcontentslide;
}

.my-content-text > ul {
    font-size: 1.3vw;
}

.my-expert-module {
    border: 2px solid #e00122;
    border-radius: 10px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
}

.my-expert-module > .row {
    height: 350px;
    margin-top: 50px;
    animation: 1s ease-out bodyslide;
}

.my-expert-module > h1 {
    font-size: 2vw;
}

.my-expert-icons-left {
    max-width: 20vw;
    max-height: 20vw;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0px;
    left: 800px;
    bottom: 0;
    animation: 3s ease-in-out iconcontentslideleft;
}

.my-expert-icons-right {
    max-width: 20vw;
    max-height: 20vw;
    position: absolute;
    margin: auto;
    margin-right: 50px;
    top: 0;
    right: 800px;
    left: 0;
    bottom: 0;
    animation: 3s ease-in-out iconcontentslideright;
}

.my-expert-text {
    font-size: 1.6vw;
    margin: auto;
    margin-top: 3.5%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-left: 20%;
    animation: 4s ease-in-out textcontentslide;
}

@media (max-width: 767px) {
    .my-nav-menu {
        position: fixed;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 270px;
        background-color: #e00122;
    }
    body {
        padding-top: 260px;
        background-color: #111111;
        color: #eeeeee;
    }
    a:hover {
        text-decoration: none;
    }
    .my-content-icons {
        display: none;
    }
    .my-exp-module > h1 {
        font-size: 4vw;
    }
    .my-content-text {
        font-size: 3.5vw;
        padding-left: 0;
    }
    .my-content-text > ul {
        font-size: 3vw;
    }
    .my-projects-link:hover {
        color: white;
        font-size: 26px;
    }

    .my-projects-link:visited {
        color: white;
        font-size: 26px;
        text-decoration: none;
    }

    .my-projects-link:active {
        color: white;
        font-size: 26px;
        text-decoration: none;
    }

    .my-projects-link {
        color: white;
    }
}

/*@keyframes bodyslide {
    0% {
        transform: translate(0, 500%);
    }

    100% {
        transform: translate(0, 0);
    }
}*/

/*@keyframes iconcontentslide {
    0% {
        transform: translate(2000px, 0);
        opacity: 0;
    }

    50% {
        transform: translate(2000px, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0)
    }
}*/

/*@keyframes iconcontentslideleft {
    0% {
        transform: translate(-2000px, 0);
        opacity: 0;
    }

    50% {
        transform: translate(-2000px, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0)
    }
}*/

/*@keyframes iconcontentslideright {
    0% {
        transform: translate(2000px, 0);
        opacity: 0;
    }

    50% {
        transform: translate(2000px, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0)
    }
}*/


/*@keyframes textcontentslide {
    0% {
        transform: translate(-2000px, 0);
        opacity: 0;
    }

    50% {
        transform: translate(-1000px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}*/

/*@keyframes nameslide {
    0% { transform: translate(1000px, 0) }
    100% { transform: translate(0, 0) }
}*/