.align {
    width: 5% !important;
    padding-left: 0%;
}

.row {
    height: 100%;
}

.scrollable {
    overflow-y: scroll;
    max-height: 100%;
    font-size: 20px;
    line-height: 22px;
    background-color: #333337;
}

.frame {
    height: 100%;
    width: 85%;
    margin-right: 15%;
}

.leftFrameDetached {
    padding-left: 15%;
}

.container {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.nobar {
    height: 2px !important;
}

.menuButton {
    width: 80%;
    text-align: left;
}

.rstm-tree-item {
    padding-bottom: 4px;
}

.rstm-tree-item-level0 {
    list-style-type: none;
    display: flex;
    padding-left: 0 !important;
    padding-top: 15px;
}

.rstm-tree-item-level1 {
    list-style-type: circle;
    padding-left: 0 !important;
    margin-left: 6%;
}

.rstm-toggle-icon {
    margin-right: 1%;
    width: 12px;
    cursor: pointer;
}

.rstm-tree-item-group {
    padding-left: 10px;
    padding-bottom: 10px;
}

.rstm-search {
    margin-top: 10px;
    margin-left: 10px;
}