html, body {
    height: 100%;
    min-height: 100%
}

body {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
}

.carmine {
    background-color: #960018;
}

.tall {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 22px;
}


.headshot {
    height: 100px;
    width: 110px;
    border-radius: 50%;
}

.center {
    text-align: center;
}

.fullheight {
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.decorationline {
    width: 0;
    height: 100%;
    border-left: 2px solid #960018;
}

.looksclickable {
    border-radius: 5px;
    border: 1px solid #960018;
    padding: 2px;
}

.contactp {
    text-align: center;
}
.linkedin {
    color: white;
}
.linkedin:active {
    text-decoration-color: white;
    text-decoration-style: none;
}
.linkedin:visited {
    text-decoration-color: white;
    text-decoration-style: none;
}
.linkedin:hover {
    text-decoration-color: white;
    text-decoration-style: none;
}

.intro {
    margin-top: 15%;
}

.paragraph {
    margin-top: 10%;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */

}

#root {
    height: 100%;
}

@keyframes Sliding-Upward {
    0%  { top: 150%; }
    100% { top: 0%; }
}

.upslide {
    animation: Sliding-Upward 2s normal;
}